#youtube-data {
  margin: auto;  
  width: 80vw;
  padding-top: 5vh;
  text-align: center;
}
#word-cloud-container {
  height: 450px;
  width: 100%;
  margin: 0;
  padding: 0;
}
#video-context {
  height: 300px;
  width: 300px;
}
#error-display-text {
  color:rgb(255, 99, 71);
}
#error-details {
  color:rgb(200, 80, 57);
}
#nav-tabContent {
  margin-top:8px;
}